<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ global.request.basepath }}/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <title>Catouyou, l'appli qui met en relation les propriétaires de chats et les adoptants potentiels</title>
</head>
<body>
<div class="container">
    <section>
        <div class="col-sm-6">
            <h1>Catouyou</h1>
            <p class="text-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut sem leo. Fusce eget tincidunt dui.
                Praesent rutrum dolor vitae leo faucibus, vel ornare eros rhoncus. Praesent augue dolor, interdum et
                dolor at, faucibus convallis augue. Mauris semper purus neque, in molestie sem tincidunt eget. Aenean
                ligula massa, blandit vel dolor et, porta facilisis neque. Pellentesque habitant morbi tristique
                senectus et netus et malesuada fames ac turpis egestas. Sed convallis justo at blandit tincidunt.

                Nunc sagittis libero in tincidunt commodo. Duis ac tristique nunc, in ullamcorper massa. Nam dapibus
                orci vulputate molestie aliquam. Aliquam pulvinar purus eget felis pharetra cursus. Proin eget justo mi.
                Morbi sit amet odio euismod, hendrerit sem vel, eleifend urna. Phasellus pretium id massa non tempor.
            </p>
            <a href="#" title="Télécharger l'application">Télécharger l'application</a>
        </div>
        <div class="col-sm-6">
            <img src="{{ global.request.basepath }}/assets/img/chaton.jpg" alt="Chaton" class="img-responsive">
        </div>
    </section>
    <footer class="text-center">
        <div class="row">
            Ici barre nav vers "A propos" et "Mentions légales"
        </div>
    </footer>
</div>
</body>
</html>